html{
    scroll-behavior: smooth;
}
body{
    margin : 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255,255,255);
    font-size: 16px;
}
a{
    color: rgb(255,255,255);
    text-decoration: none;
    font-size: 16px;
}
.main-container{
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    width: 100%;
    max-width: 1440px;
    height: 50px;
    background-color: rgb(0,52,89);
    display: flex;
    justify-content: right;
    align-items: center;
}
.a-navbar{
    color: rgb(255,255,255);
    text-decoration: none;
    font-size: 16px;
}
.a-navbar:hover{
    color: rgb(0,52,89);
    background-color: rgb(0, 168, 232);
}
.header{
    width: 100%;
    max-width: 1440px;
    display: flex;
    background-color: rgb(255,255,255);
}
.header-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.logo{
    width: 50%;
    margin-top: 40px;
}
.header-title{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.header-subtitle{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.order-button{
    display: flex;
    align-items: center;
}
.header-button{
    width: 170px;
    height: 38px;
    background-color: rgb(0,52,89);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.header-button:hover{
    background-color: rgb(0, 168, 232);
}
.header-button-wa{
    width: 220px;
    height: 38px;
    background-color: rgb(12,197,32);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(0,0,0);
}
.header-button-wa:hover{
    background-color: rgb(0,171,19);
}
.button-wa-icon{
    margin-right: 5px;
}
.button-wa-text{
    font-size: 16px;
}
.header-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-header{
    width: 32%;
}
.layanan-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,255,255);
}
.layanan-title{
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0 40px 0;
    text-align: center;
}
.layanan-content{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}
.content{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 30%;
    margin-bottom: 10px;
}
.content-title{
    font-size: 16px;
    text-align: center;
}
.profil{
    width: 100%;
    max-width: 1440px;
    height: 500px;
    position: relative;
    display: flex;
}
.profil-background{
    display: block;
}
.profil-container{
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 168, 232, 0.9);
}
.profil-image{
    height: 80%;
}
.profil-container-right{
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 168, 232, 0.9);
}
.profil-right{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}
.profil-title{
    font-size: 25px;
    margin: 10px 0 10px 0;
}
.profil-name{
    font-size: 22px;
    margin: 10px 0 10px 0;
}
.profil-subtitle{
    font-size: 20px;
    margin: 10px 0 10px 0;
}
.profil-content{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}
.sublayanan{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color:rgb(255, 255, 255);
}
.sublayanan-title{
    width: 25%;
    font-size: 36px;
    font-weight: bold;
    margin: auto 30px auto 60px;
}
.sublayanan-content{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
}
.sublayanan-icon{
    margin-top: 20px;
    width: 30%;
}
.sublayanan-subtitle{
    font-size: 16px;
    margin: 20px 0 20px 0;
    font-weight: bold;
    text-align: center;
}
.sublayanan-subtitle1{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    max-width: 1440px;
    height: 105px;
    background-color: rgb(0,52,89);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-title{
    color: white;
    font-size: 16px;
    margin-right: 30px;
}
@media (max-width: 1440px){
    .profil{
        height: auto;
        position: static;
    }
    .image-profil{
        display: none;
    }
    .profil-container{
        height: auto;
        position: static;
    }
    .profil-image{
        width: 75%;
        height: auto;
    }
    .profil-container-right{
        height: auto;
        position: static;
    }
    .profil-right{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1300px){
    .navbar{
        justify-content: center;
    }
    .order-button{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-button{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .content{
        justify-content: flex-start;
    }
    .sublayanan-content{
        width: 23%;
    }
}
@media (max-width: 700px){
    .header{
        flex-direction: column;
    }
    .header-left{
        width: 100%;
    }
    .header-left-container{
        width: 80%;
        height: auto;
        margin: 20px auto 40px auto;
        align-items: center;
    }
    .logo{
        margin-top: 10px;
    }
    .header-title{
        text-align: center;
    }
    .header-subtitle{
        text-align: center;
    }
    .order-button{
        align-items: center;
    }
    .header-button{
        margin-bottom: 10px;
    }
    .header-right{
        width: 100%;
    }
    .header-image{
        width: 100%;
    }
    .layanan-title{
        font-size: 23px;
    }
    .layanan-content{
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
    .content{
        width: 274px;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .icon{
        margin-bottom: 0;
        margin-right: 20px;
    }
    .profil{
        flex-direction: column;
    }
    .profil-container{
        width: 100%;
    }
    .profil-image{
        width: 40%;
        margin-top: 20px;
    }
    .profil-container-right{
        width: 100%;
    }
    .profil-right{
        width: 80%;
        align-items: center;
    }
    .profil-name{
        text-align: center;
    }
    .profil-content{
        font-size: 14px;
        margin: auto 0 10px 0;
        text-align: center;
    }
    .sublayanan{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .sublayanan-icon{
        margin: 0;
    }
    .sublayanan-title{
        margin: 20px 0 20px 0;
        text-align: center;
        width: 100%;
    }
    .sublayanan-content{
        width: 90%;
        flex-direction: row;
        margin: 15px 0 15px 0;
        justify-content: space-around;
    }
    .sublayanan-subtitle{
        width: 25%;
    }
    .sublayanan-subtitle1{
        width: 40%;
        margin: 0;
    }
    .sublayanan-icon{
        width: 25%;
    }
    .footer{
        height: auto;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .footer-title{
        margin: 20px 0 20px 0;
    }
}